* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

body,
.navbar,
.navbar-menu {
  background-color: #fdfaf1;
}

.button {
  background-color: #f2eee3;
}

.is-primary {
  background-color: #b2cf43;
  color: #222d5b;
  transition: all 0.5s;
}
.is-primary:hover {
  background: linear-gradient(90deg, #b2cf43 0%, #c7e25b 100%);
}

body,
.title,
.button,
.navbar-item,
a {
  color: #222d5b;
}

.navbar-burger {
  color: #222d5b;
}
.navbar-burger:hover {
  color: #222d5b;
  background-color: #f3f3f3;
}

.main-container {
  background-color: #222d5b;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-container .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/backgroundImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.main-container .main-content {
  z-index: 1;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
@media (min-width: 700px) {
  .main-container .main-content {
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .main-container .main-content {
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.main-container .main-content .logo {
  width: 100px;
}
.main-container .main-content .main-title,
.main-container .main-content p {
  color: #f2eee3;
}
@media (min-width: 1400px) {
  .main-container .main-content .main-title {
    font-size: 2.5rem;
  }
}

.service-container {
  background-color: #f2eee3;
  border-radius: 12px;
  position: relative;
  top: -50px;
  z-index: 2;
  height: auto;
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 700px) {
  .service-container {
    border-radius: 80px;
    height: auto;
    margin: 0px 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1400px) {
  .service-container {
    margin: 0px 10rem;
  }
}
.service-container .service-item {
  padding: 5px;
}
@media (min-width: 700px) {
  .service-container .service-item {
    width: 250px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .service-container .service-item {
    width: 280px;
  }
}
.service-container .service-item img {
  width: 40%;
}
@media (min-width: 700px) {
  .service-container .service-item img {
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .service-container .service-item img {
    width: 50%;
  }
}
.service-container .service-item .title {
  font-size: 15px;
}
@media (min-width: 1400px) {
  .service-container .service-item .title {
    font-size: 18px;
  }
}

.subtitle-container {
  margin: 40px 16px;
}
@media (min-width: 1000px) {
  .subtitle-container {
    margin: 3rem;
  }
}

.structure {
  padding: 20px;
  margin: 100px 0px;
  position: relative;
}
@media (min-width: 1000px) {
  .structure {
    margin: 3rem;
    border-radius: 10px;
  }
}
.structure .top-image {
  position: absolute;
  top: -35px;
  left: 10px;
  width: 80px;
}

.package-container {
  background-color: #f7ece1;
}
@media (min-width: 1000px) {
  .package-container {
    background-color: #f7ece1;
    border: 2px solid #ec6428;
  }
}
.package-container p {
  font-size: 0.9rem;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
@media (min-width: 1000px) {
  .course-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
.course-list .course-item {
  background-color: rgba(253, 196, 27, 0.0941176471);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (min-width: 1000px) {
  .course-list .course-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.course-list .course-item img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.testimony-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  padding: 16px;
}
@media (min-width: 1000px) {
  .testimony-container {
    padding: 3rem;
  }
}
.testimony-container .text-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 10px;
}
.testimony-container .text-img-container h2.title {
  color: #f2eee3;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
@media (min-width: 1000px) {
  .cards-container {
    flex-direction: row;
  }
}
.cards-container .card-user {
  background-color: #222d5b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 18px;
}
@media (min-width: 1000px) {
  .cards-container .card-user {
    width: 30%;
  }
}
.cards-container .card-user h6,
.cards-container .card-user p {
  color: #f2eee3;
}
.cards-container .card-user p {
  font-size: 0.9rem;
}
.cards-container .card-user .social-container {
  display: flex;
  gap: 5px;
  align-items: center;
}
.cards-container .card-user .social-container a {
  color: #b2cf43;
}
.cards-container .card-user .social-container a:hover {
  font-weight: bolder;
}

.intensive-container {
  background-color: rgba(179, 207, 67, 0.2196078431);
}
@media (min-width: 1000px) {
  .intensive-container {
    background-color: rgba(179, 207, 67, 0.2196078431);
    border: 2px solid #b2cf43;
  }
}

.sso-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  padding: 16px;
}
@media (min-width: 1000px) {
  .sso-container {
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
  }
}
.sso-container .sso-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1000px) {
  .sso-container .sso-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
.sso-container .sso-header img {
  width: 80px;
}
.sso-container .columns-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1000px) {
  .sso-container .columns-container {
    flex-direction: row;
    gap: 10px;
  }
}
.sso-container .columns-container .div-column {
  margin-top: 16px;
  padding: 18px;
  background-color: rgba(242, 238, 227, 0.1450980392);
  border-radius: 10px;
}
.sso-container .columns-container .div-column li {
  font-size: 0.9rem;
  list-style: doted;
}

.plus-services-container {
  background-color: rgba(253, 196, 27, 0.0941176471);
}
@media (min-width: 1000px) {
  .plus-services-container {
    background-color: rgba(253, 196, 27, 0.0941176471);
    border: 2px solid #fdc41b;
  }
}
.plus-services-container .plus-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 18px 0px;
}
.plus-services-container .plus-items p {
  background-color: rgba(253, 196, 27, 0.4117647059);
  padding: 8px;
  border-radius: 10px;
  font-size: 0.9rem;
}
.plus-services-container .plus-footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .plus-services-container .plus-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
.plus-services-container .plus-footer div {
  margin-bottom: 16px;
}
.plus-services-container .plus-footer span {
  font-weight: bolder;
}
.plus-services-container .plus-footer .span-promo {
  background-color: #fdc41b;
  padding: 5px;
  border-radius: 15px;
}
.plus-services-container .plus-footer p {
  font-size: 0.9rem;
}
.plus-services-container .plus-footer a {
  text-decoration: underline;
  font-weight: bolder;
}

.gift-container {
  margin: 16px;
}
@media (min-width: 700px) {
  .gift-container {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1000px) {
  .gift-container {
    margin: 0px;
    background: linear-gradient(90deg, #222d5b 0%, #010a2f 100%);
    padding: 1rem 3rem;
  }
}
@media (min-width: 1000px) {
  .gift-container p, .gift-container h2 {
    color: #f2eee3;
  }
}
.gift-container .gift-card {
  margin: 3rem;
  transform: rotate(-11.175deg);
}

.action-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  margin: 90px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
}
@media (min-width: 700px) {
  .action-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 1000px) {
  .action-container {
    margin: 3rem 8rem;
  }
}
.action-container div {
  padding: 18px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .action-container div {
    width: 40%;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}
@media (min-width: 1000px) {
  .about-container {
    margin: 5rem;
  }
}
.about-container main {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
}
@media (min-width: 1000px) {
  .about-container main {
    background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
    position: relative;
    align-items: flex-start;
    padding: 2rem;
  }
}
.about-container main .logos-container {
  background-color: #f2eee3;
  border-radius: 50px;
  border: 2px solid #46bcc6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  width: 200px;
}
@media (min-width: 1000px) {
  .about-container main .logos-container {
    position: absolute;
    top: -35px;
    left: 10px;
  }
}
.about-container main .logos-container p {
  font-size: 2rem;
  font-weight: bolder;
}
.about-container main .logos-container img {
  max-width: 60px;
  height: auto;
}
@media (min-width: 1000px) {
  .about-container main h2 {
    margin-top: 2rem;
  }
}
.about-container .card-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.about-container .card-info {
  flex: 1;
  background-color: #f2eee3;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.about-container .card-info::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
}
.about-container .card-info div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about-container .card-info div img {
  width: 50px;
  height: auto;
}
.about-container .card-info div h6 {
  font-size: 1.25rem;
  margin: 0;
}
.about-container .card-info p {
  margin-top: 1rem;
}
.about-container .card-info p .link-footer {
  color: #46bcc6;
  font-weight: bolder;
  text-decoration: none;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .about-container .card-wrapper {
    flex-direction: column;
  }
}

.login-container {
  background: linear-gradient(90deg, #46bcc6 27.83%, #8BD0D2 100%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.login-form {
  width: 90%;
  height: auto;
  margin: 16px;
  padding: 20px;
  border-radius: 10px;
  background: #f2eee3;
  box-shadow: 0px 9px 27.9px 3px rgba(0, 0, 0, 0.09);
}
.login-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 18px;
  gap: 18px;
}
.label {
  color: #222d5b;
}

.input {
  background-color: #FDFAF1;
}
.input::placeholder {
  color: #222d5b;
}

.login-form p {
  font-size: 14px;
}

footer {
  background-color: #222d5b;
}
footer .footer-container {
  margin: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 16px;
}
@media (min-width: 700px) {
  footer .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}
footer p {
  color: #f2eee3;
}
footer .bolder {
  font-weight: bolder;
}
footer .logo-footer {
  width: 80px;
}
footer .contact-container {
  display: flex;
  gap: 2rem;
}
footer .link-footer {
  color: #b2cf43;
  text-decoration: underline;
}
footer .link-footer:hover {
  font-weight: 500;
}
footer .footer-bottom {
  background-color: #010a2f;
  text-align: center;
  color: #f2eee3;
}

/*# sourceMappingURL=styles.css.map */
