@use "../abstract/mixins" as mixins;
@use "../abstract/variable" as var;


.about-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;

  @include mixins.respond-to(large) {
   margin: 5rem;
  }

  main {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 8px;

    @include mixins.respond-to(large) {
      background: var.$gradient-bg;
      position: relative;

      align-items: flex-start;
      padding: 2rem;
    }

    .logos-container {
      background-color: var.$beige;
      border-radius: 50px;
      border: 2px solid var.$blue;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 5px;
      width: 200px;

      @include mixins.respond-to(large) {
        position: absolute;
        top: -35px;
        left: 10px;
      }
      p {
        font-size: 2rem;
        font-weight: bolder;
      }
      img {
        max-width: 60px;
        height: auto;
      }
    }

    h2{
        @include mixins.respond-to(large) {
         margin-top:2rem ;
          } 
    }
  }

  
  .card-wrapper {
    display: flex;
    justify-content: space-between; 
    gap: 2rem; 
  }

  .card-info {
    flex: 1; 
    background-color: var.$beige;
    padding: 2rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: var.$gradient-bg;
    }

    div {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 50px;
        height: auto;
      }

      h6 {
        font-size: 1.25rem;
        margin: 0;
      }
    }

    p {
      margin-top: 1rem;

      .link-footer {
        color: var.$blue;
        font-weight: bolder;
        text-decoration: none;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    .card-wrapper {
      flex-direction: column;
    }
  }
}
