@use "../abstract/mixins" as mixins;
@use "../abstract/variable" as var;

.about-container{
    margin: 16px;
    @include mixins.flex-center(column);
    gap: 16px;

    h2{
        margin-top: 2rem;
        text-align: center;
    }
}

.logos-container{
    background-color: var.$beige;
    border-radius: 50px;
    border: 2px solid var.$blue;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
    p{
        font-size: 2rem;
        font-weight: bolder;
    }
    img{
        width: 30%;
        margin: 5px;
    }
}

.card-info{
    background-color: var.$beige;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute; 
        left: 0;
        right: 0;
        bottom: 0; 
        height: 2px; 
        background: var.$gradient-bg
      }
    div{
        @include mixins.flex-center();
        gap: 10px;
        margin-bottom: 10px;
    }

    a{
        font-weight: bolder;
        text-decoration: underline;
    }
    
}