@use "../abstract/mixins" as mixins;
@use "../abstract/variable" as var;

// Variables
$transition-duration: 0.4s;
$text-color: #555;
$header-text-size: 18px;
$sub-text-size: 14px;
$padding-standard: 16px;

.main-courses {
  margin: 3rem 1rem;
  min-height: 80vh;

  @include mixins.respond-to(medium) {
    margin: 3rem;
  }
}

// Mixin para transiciones
@mixin transition($property) {
  transition: $property $transition-duration ease;
}

// Estilo de la tarjeta
.expandable-card {
  width: 100%;
  border: 1px solid var.$yellow;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;

  .toggle-card {
    display: none;
  }

  .expandable-header {
    background-color: var.$lightYellow;
    padding: $padding-standard;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: $header-text-size;
    }

    .toggle-text {
      font-size: $sub-text-size;
      color: $text-color;
      @include transition(color);
    }
  }

  .expandable-content {
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    @include transition(height);

    ul {
      list-style: none;
      padding: $padding-standard;
      margin: 0;

      li {
        padding: 8px 0;
        border-bottom: 1px solid var.$mediumYellow;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .toggle-card:checked {
    + .expandable-header .toggle-text::after {
      content: "Cerrar";
    }

    + .expandable-header + .expandable-content {
      height: auto;
      opacity: 1;
      pointer-events: all;
    }
  }

  .expandable-header .toggle-text::after {
    content: "Abrir";
  }
}
