@use "../abstract/mixins" as mixins;
@use "../abstract/variable" as var;

.bolder {
    font-weight: bolder;
}

.section-container {
    margin: 3rem 1rem;

    .text-content {
        margin-bottom: 2rem;
    }

    @include mixins.respond-to(large){
        margin: 3rem;
    }

    @include mixins.respond-to(extra-large){
        width: 1500px;
        margin: 3rem auto;
    }
}

.article-container{
    @include mixins.respond-to(large){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
}
.container-packs {
    display: flex;
    flex-direction: column;

    .card-pack {
        padding: 2rem 1rem;
        border-radius: 10px;
        position: relative;
        margin-bottom: 2rem;

        span:first-of-type{
            margin-right: 5px;
        }


        h4 {
            padding: 10px;
            border-radius: 16px;
            color: var.$beige;
            font-weight: bolder;
            position: absolute;
            top: -20px;
        }

        .container-item-card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;

            img {
                width: 70px;
            }
        }
    }

  
    .card-pack:nth-child(1) {
        @include mixins.card-style(var.$lightOrange, var.$orange);

        h4 {
            background-color: var.$orange;
        }

        &:hover{
            box-shadow: 2px 2px 9.1px 0px rgba(236, 100, 40, 0.50);
        }
    }


    .card-pack:nth-child(2) {
        @include mixins.card-style(var.$ultraLightBlue, var.$blue);

        h4 {
            background-color: var.$blue;
        }
        
        &:hover{
            box-shadow: 2px 2px 9.1px 0px rgba(70, 188, 198, 0.36);
        }
    }

    @include mixins.respond-to(large){
        flex-direction: row;
        justify-content: center;
        gap: 20px;

        .card-pack{
            width: 500px;
        }
    }
}

.container-contact{
    background-color: var.$lightGreen;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;


   @include mixins.respond-to(medium){
    flex-direction: row;
    justify-content: space-between;

    p{
        width: 60%;
    }

    a{
        width: 40%;
    }
   }

   @include mixins.respond-to(large){
   width: 1020px;
   }
}

.container-create-pack{
    @include mixins.respond-to(medium){
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.content{
    @include mixins.respond-to(large){
        width: 50%;
    }
    
}

.item-pack{
    padding: 10px;
    border-radius: 10px;
    margin: 16px 0px;
    @include mixins.card-style(var.$lightYellow, var.$mediumYellow);
 
}

.container-p{
    p{
        @extend .item-pack
    }

    @include mixins.respond-to(medium){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px
    }

   
}

 .img-mg{
    @include mixins.respond-to(medium){
    margin: 10px;
    }

    @include mixins.respond-to(large){
       width: 60%;
        }
  }

  .lo{
    display: flex;
    justify-content:center ;
  }