@use "../abstract/variable" as var;
@use "../abstract/mixins" as mixins;

.register-container{
    background: var.$gradient-blue-light;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    width: 100%;
  

    @include mixins.respond-to(medium){
      min-height: 100vh;
      max-height: auto;
    }

    @include mixins.respond-to(extra-large){
      background: var.$gradient-bg ;
     min-height: 100vh;
     max-height: auto;
    }
}

.link-to a{
  color: var.$dark-blue;
  text-decoration: underline;
  font-weight: bolder;
}


fieldset{
    border: 1px solid var.$green;
    border-radius: 10px;
    padding: 16px;

    @include mixins.respond-to(medium){
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: baseline;
    }
}

.large-fieldset{
  @include mixins.respond-to(medium){
    display: flex;
  flex-flow: row wrap;
  }
 
}

