:root {
  --green: #b2cf43;
  --dark-blue: #222d5b;
  --yellow: #fdc41b;
  --blue: #46bcc6;
  --blue-light: #46bbc683;
  --orange: #ec6428;
  --beige: #f2eee3;
  --grey: #f3f3f3;
}

.is-primary {
  background-color: var(--green);
  color: var(--dark-blue);
}
.is-primary:hover {
  background: linear-gradient(90deg, #b2cf43 0%, #c7e25b 100%);
  transition: all 0.5s;
}

.button {
  color: var(--dark-blue);
}

.title,
p {
  color: var(--dark-blue);
}

.navbar-item {
  color: var(--dark-blue);
}

/* NAVBAR */
.navbar-burger {
  color: var(--dark-blue);
}

.navbar-burger:hover {
  color: var(--dark-blue);
  background-color: var(--grey);
}

/* MAIN */

.logo {
  width: 100px;
}

.main-container {
  background-color: var(--dark-blue);
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/backgroundImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.main-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--beige);
  width: 50%;
  padding: 20px;
}

.main-title,
.main-content p {
  color: var(--beige);
}

/* DIV SERVICE CONTAINER */

.service-container {
  background-color: var(--beige);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px 20px;
  border-radius: 80px;
  height: 150px;
  position: relative;
  top: -50px;
  z-index: 2;
}

.service-item {
  width: 250px;
  display: flex;
  align-items: center;
}

.subtitleContainer {
  margin: 3rem;
}

/* CURSES */

.structure {
  color: var(--dark-blue);
  padding: 20px;
  margin: 3rem;
  border-radius: 10px;
  position: relative;
}

.package-container {
  background-color: #f7ece1;
  border: 2px solid #ec6428;
}

.top-image {
  position: absolute;
  top: -35px;
  left: 10px;
  width: 80px;
}

.package-container p {
  font-size: 0.9em;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.course-item {
  background-color: #222d5b09;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #222d5b;
}

.course-item img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

/* TESTIMONY */

.testimony-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  height: auto;
}

.testimony-container h2 {
  color: var(--beige);
}

.text-img-container {
  display: flex;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.cardUser {
  width: 30%;
  background-color: var(--dark-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 18px;
}

.cardUser h6,
.cardUser p {
  color: var(--beige);
}

.social-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

.social-container a {
  color: var(--green);
}

.social-container a:hover {
  font-weight: bolder;
}

/* INTENSIVE CONTAINER */

.intensive-container {
  background-color: #b3cf4338;
  border: 2px solid #b2cf43;
}

/* SSO CONTAINER */
.sso-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  color: var(--dark-blue);
  border-radius: 10px;
  padding: 20px;
}

.sso-header {
  display: flex;
  align-items: center;
}

.sso-header img {
  width: 80px;
}

.columns-container {
  display: flex;
  gap: 10px;
}

.div-column {
  margin: 18px;
  padding: 26px;
  background-color: #f2eee325;
  border-radius: 10px;
}

li {
  list-style: disc;
}

/* PLUS SERVICES CONTAINER */

.plus-services-container {
  background-color: #fdc41b18;
  border: 2px solid var(--yellow);
}

.plus-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 8px;
}

.plus-items p {
  background-color: #fdc41b69;
  padding: 8px;
  border-radius: 10px;
}

.plus-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.span-promo {
  background-color: var(--yellow);
  padding: 5px;
  border-radius: 15px;
  font-weight: bolder;
}

.link-contact {
  color: var(--dark-blue);
  font-weight: bolder;
}

.link-contact:hover {
  text-decoration: underline;
}

/* GIFT CONTAINER */
.gift-container {
  background: linear-gradient(90deg, #222d5b 0%, #010a2f 100%);
  display: flex;
  position: relative;
}

.gift-container h2,
.gift-container p,
.action-container h2 {
  color: var(--beige);
}

.gift-container div {
  margin: 3rem;
  width: 50%;
}

.gift-container img {
  position: absolute;
  right: 70px;
  top: -10px;
}

/* CALL TO ACTION */
.action-container {
  background: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.action-container div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.actionButton {
  background-color: var(--beige);
  color: var(--dark-blue);
}

/* FOOTER */
footer {
  background-color: var(--dark-blue);
}

footer p {
  color: var(--beige);
}

.bolder {
  font-weight: bolder;
}

.footer-container {
  margin: 3rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-footer {
  width: 80px;
}

.contact-container {
  display: flex;
  gap: 2rem;
}

.link-footer {
  color: var(--green);
  text-decoration: underline;
}

.link-footer:hover {
  font-weight: 500;
}

.footer-bottom {
  background-color: #010a2f;
  text-align: center;
  color: var(--beige);
}

/* RESPONSIVE CEL */
@media only screen and (max-width: 600px) {
  .main-content {
    width: 100%;
    align-items: flex-start;
    text-align: left;
  }

  .service-container {
    background-color: var(--beige);
    border-radius: 12px;
    height: auto;
    margin: 10px;
    padding: 10px;
  }

  .service-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
  }

  .service-item img {
    width: 50px;
  }

  .service-item .title {
    font-size: 15px;
  }

  .subtitleContainer {
    margin: 16px;
  }

  .structure {
    margin: 50px 0px;
    padding: 20px;
    border-radius:0px;
    position: relative;
    width: 100%;
  }

  .course-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sso-container{
    display: none;
  }

  footer{
    display: none;
  }
}
