@use "./variable" as var;

@mixin grid-layout($columns, $gap: 10px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin flex-center($direction: row, $align-item:center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-item;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}

@mixin card-style($bg-color, $border-color){
  background-color: $bg-color;
  border: 2px solid $border-color;
}

@mixin card-item-style($bgColor, $borderColor, $shadowColor,$h4Color, $h4BgColor) {
  border: 2px solid $borderColor;
  background-color: $bgColor;

  h4 {
    color: $h4Color;
    background-color: $h4BgColor;
  }

  &:hover {
    box-shadow: 2px 2px 9.1px 0px $shadowColor;
  }
}


@mixin respond-to($breakpoint) {
  @if $breakpoint == small {
    @media (min-width: var.$breakpoint-small) { @content; }
  } @else if $breakpoint == medium {
    @media (min-width: var.$breakpoint-medium) { @content; }
  } @else if $breakpoint == large {
    @media (min-width: var.$breakpoint-large) { @content; }
  } @else if $breakpoint == extra-large {
    @media (min-width: var.$breakpoint-extra-large) { @content; }
}}