$green: #b2cf43;
$lightGreen:#b3cf4338;
$dark-blue:#222d5b;
$greyBlue:#979ba7;
$blue:#46bcc6;
$lightBlue: #46bbc683;
$yellow: #fdc41b;
$lightYellow: #fdc41b18;
$mediumYellow: #fdc41b69;
$orange: #ec6428;
$lightOrange: #f7ece1;
$beige: #f2eee3;
$lightBeige:#FDFAF1;
$grey: #f3f3f3;

$navbar-background-color:red;

$gradient-blue-light: linear-gradient(90deg, $blue 27.83%, #8BD0D2 100%);
$gradient-bg: linear-gradient(90deg, $blue 0%, $green 100%);
$gradient-bg-blue: linear-gradient(90deg, $dark-blue 0%, #010a2f 100%);


$breakpoint-small: 600px;   // Móviles
$breakpoint-medium: 700px;  // Tablets
$breakpoint-large: 1000px;  // Desktop
$breakpoint-extra-large: 1400px;