$green: #b2cf43;
$lightGreen:#b3cf4338;
$dark-blue:#222d5b;
$blue:#46bcc6;
$lightBlue: #46bbc683;
$yellow: #fdc41b;
$lightYellow: #fdc41b18;
$mediumYellow: #fdc41b69;
$orange: #ec6428;
$lightOrange: #f7ece1;
$beige: #f2eee3;
$grey: #f3f3f3;

$gradient-bg: linear-gradient(90deg, #46bcc6 0%, #b2cf43 100%);
$gradient-bg-blue: linear-gradient(90deg, #222d5b 0%, #010a2f 100%);


$breakpoint-small: 600px;   // Móviles
$breakpoint-medium: 700px;  // Tablets
$breakpoint-large: 1000px;  // Desktop
$breakpoint-extra-large: 1400px;